nav{
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: #eaece2;
    display:flex ;
    justify-content: space-between;
}
.Logo{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    width: 150px;
}
.NavItems{
    padding-top: .5rem;
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding-left: 0rem;
    margin-left: -3rem;
}
.NavItems  a{
    cursor: pointer;
}
.ContributeButton{
    margin-top: 1rem;
    margin-right: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 3px;
    background-color: transparent;
    border: solid black 1px;
}

.shadow {
    position: relative;
    background-color: rgba(67, 255, 67, 0.5);
    height: 2em;
    width: 6em;
    top: -1.7em;
    left: 6px;
    border-radius: 3px
}

.shadow:hover {
    left: 0px;
    top: -2.05em
}