:root {
    --main-bg-color: #fff;
}

.AppContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}
.App{
    min-width: 1280px;
}